<div class="container div color2">

  	<div class="row color3" style="border-bottom: 1px solid #000">
		<div class="col-sm-3">
		  <img src="../../files/img/logoem3.png" class="logo">
		</div>
		<div class="col-sm-9 titulos">
			ERROR !!!
		</div>  
	</div>

	<div class="row centro espacio negrilla">
		<p>No se encuentra la historia clinica, o el documento ingresado no se encuentra en la DB.</p>
	</div>

	<div class="row espacio" style="justify-content: center;">
		<a href="../views/home.php" class="btn btn-sm btn-outline-dark">Volver</a>
	</div>
</div>
